---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import IntroSection from "@components/home/IntroSection";
import ProjectsSection from "@components/home/ProjectsSection";
// import AboutSection from "@components/home/AboutSection";
import ContactSection from "@components/home/ContactSection";
import { SITE, HOME, SOCIALS } from "@consts";

const projects = (await getCollection("projects"))
  .filter(project => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_PROJECTS_ON_HOMEPAGE)
  .map((project) => ({
    id: project.id,
    title: project.data.title,
    description: project.data.description,
    href: `/projects/${project.id}`,
    imageSrc: project.data.image?.src,
    tags: project.data.tags,
  }));
---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <div class="mx-auto max-w-7xl px-5">
    <div class="flex flex-col gap-20">
      <IntroSection client:visible />
      <ProjectsSection client:visible projects={projects} />
      {/* <AboutSection client:visible /> */}
      <ContactSection client:visible socials={SOCIALS} email={SITE.EMAIL} />
    </div>
  </div>
</PageLayout>
